.header {
  display: block;
  text-align: center;
  padding: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eb3617;
  color: #FEF0CA;
  font-size: 30px;
}

.header .headertext {
  position: relative;
}
.header .profiler {
  float: inline-end;
}

body {
  background-color:#feecc7;
  font-family: "Arial", "Courier New", monospace;
}

p {
  color: #f2cbc4;
}
/* .p1 {
  text-align:justify;
} */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  text-align:justify;
}

footer {    
  text-align: center;
  padding: 3px;
  background-color: #005246;
  color: white;
}
table, th, td {
  margin: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  /* border: 1px solid black; */
  border-collapse: collapse;
  max-width: 95%;
}
table {
  table-layout: fixed;
}

h2 {
  text-decoration: underline;
  text-align: center;
}